<div class="d-flex justify-content-center">

    <div class="card mt-3 text-dark text-center" style="width:500px">

        <div class="card-header">
            <h1> Login </h1>
        </div>

        <div class="card-body">

            {{status}}

            <form method="POST">

                <div class="form-group">
                    <p> E-mail
                        <input type="text" name="email" class="form-control" placeholder="email@example.com" required autofocus>
                    </p>
                </div>

                <div class="form-group my-3">
                    <p> Password
                        <input type="password" name="password" class="form-control" placeholder="************" required>
                    </p>
                </div>

                <button type="submit" class="btn btn-lg btn-danger"> Login </button>



            </form>
        </div>

    </div>

</div>